<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirBnB Clone</title>
        <link rel="stylesheet" href="../static/styles/4-common.css">
        <link rel="stylesheet" href="../static/styles/3-header.css">
        <link rel="stylesheet" href="../static/styles/3-footer.css">
        <link rel="stylesheet" href="../static/styles/6-filters.css">
        <link rel="stylesheet" href="../static/styles/8-places.css">
        <link rel="icon" href="../static/images/icon.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <span class="logo"></span>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <div class="location-headings">
                        <h3>States</h3>
                        <h4>&nbsp;</h4>
                    </div>
                    <ul class="popover">
                    {% for state in states|sort(attribute='name') %}
                        <li>
                            <h2>{{ state.name }}</h2>
                            <ul>
                            {% for city in state.cities|sort(attribute='name') %}
                                <li>{{ city.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="amenities">
                    <div class="location-headings">
                        <h3>Amenities</h3>
                        <h4>&nbsp;</h4>
                    </div>
                    <ul class="popover">
                    {% for amenity in amenities|sort(attribute='name') %}
                        <li>{{ amenity.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <button>Search</button>
            </section>
            <section class="places">
                <h1>Places</h1>
                <div class="place_listings">
                {% for place in places|sort(attribute='name') %}
                    <article class="place">
                        <div class="name_and_price">
                            <h2>{{ place.name }}</h2>
                            <div class="price_by_night">${{ place.price_by_night }}</div>
                        </div>
                        <div class="information">
                            <div class="max_guest">
                                <span class="guest_icon"></span>
                                <p class="no_of_guests">{{ place.max_guest }} Guests</p>
                            </div>
                            <div class="number_rooms">
                                <span class="bed_icon"></span>
                            {% if place.number_rooms > 1 %}
                                <p class="no_of_bedrooms">{{ place.number_rooms }} Rooms</p>
                            {% else %}
                                <p class="no_of_bedrooms">{{ place.number_rooms }} Room</p>
                            {% endif %}
                            </div>
                            <div class="number_bathrooms">
                                <span class="bath_icon"></span>
                            {% if place.number_bathrooms > 1 %}
                                <p class="no_of_bathrooms">{{ place.number_bathrooms }} Bathrooms</p>
                            {% else %}
                                <p class="no_of_bathrooms">{{ place.number_bathrooms }} Bathroom</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="user">
                            <p><b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}</p>
                        </div>
                        <div class="description">{{ place.description|safe }}</div>
                    </article>
                {% endfor %}
                </div>
            </section>
        </div>
        <footer>Holberton School</footer>
    </body>
</html>
